.section {
  background-image: url("../Images/HPbg.png");
  background-size: 40%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 70%;
  height: 40vh;
  padding: 5rem 0;
}
@media (min-width: 768px) {
  .section {
    padding: 5rem 0;
  }
}
.container {
  position: relative;
  left: 30%;
  height: 30vh;
  margin: 0 auto;
  padding: 2rem 0;
  border: 2px solid rgb(145, 127, 89);
  border-radius: 10px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .flex-container {
    flex-direction: row;
  }
}

.image-container {
  position: relative;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .image-container {
    width: 33.333333%;
    margin-bottom: 0;
  }
}

.content-container {
  width: 100%;
  text-align: center;
}

@media (min-width: 768px) {
  .content-container {
    width: 50%;
    text-align: center;
  }

  .content-container.left {
    text-align: left;
  }
}

.title {
  font-size: 100%;
  font-weight: normal;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .title {
    font-size: 2rem;
    position: absolute;
    top: 0%;
    left: 20%;
    right: 0%;
    bottom: 0%;
  }
}

.subtitle {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}

/* .button:hover {
  background-color: rgba(0, 0, 0, 0.1);
} */

.carousel-container {
  position: absolute;
  top: 5rem;
  left: 20rem;
  right: 0;
  bottom: 0;
  will-change: transform;
  transform: translateZ(0);
  /* margin-top: 2rem;
  padding: 5 10rem;
  margin-left: 5rem; */
}

.carousel-item {
  padding: 0 10px;
  will-change: transform;
}

.carousel-item img {
  width: 50%;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}
.slick-slider {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.navigate-button {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #b06d35;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background 0.3s ease-in-out;
}

.navigate-button:hover {
  background-color: #8b5428;
}
