.section {
  width: 70%;
  height: 50vh;
  padding: 4rem 0;
}
@media (min-width: 768px) {
  .section {
    padding: 2rem 0; /* Further increase size on larger screens */
  }
}
.container {
  position: relative;
  left: 20%;
  height: 30vh;
  margin: 0 auto;
  padding: 2rem 0;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .flex-container {
    flex-direction: row;
  }
}

.image-container {
  position: relative;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .image-container {
    width: 33.333333%;
    margin-bottom: 0;
  }
}

.content-container {
  width: 100%;
  text-align: center;
}

@media (min-width: 768px) {
  .content-container {
    width: 50%;
    text-align: center;
  }

  .content-container.left {
    text-align: left;
  }
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .title {
    font-size: 3rem;
  }
}

.subtitle {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
